@font-face {
    font-family: 'Titan One';
    src: url('../font/TitanOne-Regular.ttf') format('truetype'); 
    font-style: normal;
}
@font-face {
    font-family: 'Nunito-Black';
    src: url('../font/Nunito-Black.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../font/Quicksand-Bold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

:root{
    --trangchu-color: #3166C7;
    --theThuc-color: #F1F1F1;
    --font-family: 'Quicksand-Bold' , sans-serif;
    --font-logo: 'Titan One' , sans-serif;
}


.main-container{
    background-color: #0BC2CF;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.menu{
    height: 100%;
    width: 20%;
    background-color: #9A49AA;
    box-shadow: 5px 0 0 0 rgba(123, 58, 136, 1);
    margin-right: 5px;
    text-align: center;
}
.header{
    margin-top: 0px;
    
}
.logo-text{
    margin: 10px;
    font-family: var(--font-logo);
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none; 
    padding-top: 100px;
}
.menu .btn-play{
    padding: 10px;
    font-family: var(--font-family);
}

.menu .btn-play .icon-button{
    background-color: #0BC2CF;
    
}

.menu .menu-button{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.menu .menu-button .iconbtn{
    padding-right: 5px;
}
.menu .menu-button .button-menu{
    text-align: left; 
    width: 90%;
    padding: 10px;
    padding-left: 20px; 
    border: none; 
    background: none;  
    cursor: pointer;
    color: white;
    font-size: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.menu .menu-button .button-menu:hover{
    text-align: left; 
    padding: 10px; 
    padding-left: 25px;
    border: none; 
    background: white; 
    cursor: pointer;
    color: #9A49AA;
    font-family: var(--font-family);
    font-size: 20px;
}
/* main game */
.main-container .game-main{
    flex-grow: 1;
    background-color: #0BC2CF;
    margin-top: 20px;
    margin-left: 30px;
}

/* home */
.main-container .game-main .Profile{
    display: flex;
    flex-direction: row;
    font-family: var(--font-family);
    margin-top: 70px;
}
.main-container .game-main .Profile .avatar{
    width: 100px;
    height: 100px;
    background-color: #ddd;
    margin-right: 8px;
}
.main-container .game-main .Profile .igame{
    border: none;
    background-color: #655DCA;
    height: 40px;
    width: 100px;
    color: white;
    width: 50%;
    padding-left: 10px;
}
.main-container .game-main .Profile .match{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    color: white;
}

/* list room */
.main-container .game-main .room{
    display: none;
    flex-direction: column;
    font-family: var(--font-family);
    color: white;
}
.main-container .game-main .room .list-room{
    width: 80%;
    height: 500px;
    background-color: #9A49AA;
}
.main-container .game-main .room .list-room .room-child{
    font-family: var(--font-family);
    background-color: white;
    color: black;
    width: 40%;
    margin: 10px;
}
.main-container .game-main .room .list-room .room-child .t-room{
    margin: 0;
    padding-left: 10px;
    
}
.main-container .game-main .room .btn-inroom{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 30px;
}
.main-container .game-main .room .btn-inroom .inroom-button{
    background-color: #FEB31A;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    border: 5px solid #EF7426;
    font-size: 20px;
    font-family: var(--font-family);
    color: white;
}


/* create room */
.main-container .game-main .create-room{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: #9A49AA;
    padding: 5px;
    right: 30%;
    top: 30%;
    font-family: var(--font-family);
    color: white;
}
.main-container .game-main .create-room .room-name{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.main-container .game-main .create-room .number-person{
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 20px ;
}
.main-container .game-main .create-room .btn-create{
    background-color: #FEB31A;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    border: 5px solid #EF7426;
    font-size: 20px;
    font-family: var(--font-family);
    color: white;
}
/* nút bên phải*/
.custom-dropdown {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
}

.dropdown-button {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #9A49AA;
    color: #fff;
    font-family: "Nunito-Black", sans-serif ;
    font-size: 20px;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 5px 0 0 rgba(123, 58, 136, 1);
    cursor: pointer;
}
.dropdown-button .inp-igame{
    padding: 0;
    background-color: none;
    border: none;
    text-align: center;
    width: 100px;
    background-color: #9A49AA;
    color: white;
}
.dropdown-button .inp-igame:focus{
    border: none;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 30%;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.account-button, .logout-button {
    padding: 5px;
    text-align: left;
    display: block;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 12px;
}

.account-button:hover, .logout-button:hover {
    background-color: #ddd;
    border-radius: 5px;
}



