@font-face {
    font-family: 'Titan One';
    src: url('../font/TitanOne-Regular.ttf') format('truetype'); /* Điều chỉnh đường dẫn và định dạng tùy thuộc vào tập tin font bạn đang sử dụng */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito-Black';
    src: url('../font/Nunito-Black.ttf') format('truetype'); /* Điều chỉnh đường dẫn và định dạng tùy thuộc vào tập tin font bạn đang sử dụng */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../font/Quicksand-Bold.ttf') format('truetype'); /* Điều chỉnh đường dẫn và định dạng tùy thuộc vào tập tin font bạn đang sử dụng */
    font-weight: normal;
    font-style: normal;
}

:root{
    --trangchu-color: #3166C7;
    --theThuc-color: #F1F1F1;
    --font-family: 'Quicksand-Bold' , sans-serif;
    --font-logo: 'Titan One' , sans-serif;
}
.main-container{
    background-color: #0BC2CF;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container .custom-dropdown{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
}
.main-container .dropdown-button{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #9A49AA;
    color: #fff;
    font-family: "Nunito-Black", sans-serif ;
    font-size: 20px;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 5px 0 0 rgba(123, 58, 136, 1);
    cursor: pointer;
}
.main-container .list-attend{
    display: none;
    width: 950px;
    height: 500px;
    background-color: #9A49AA;
    margin-top: 70px;
    margin-left: 100px;
    border-radius: 10px;
}

.main-container .inf-room{
    display: none;
    position: fixed;
    width: 200px;
    height: 125px;
    background-color: white;
    right: 40px;
    top: 10%;
}
.main-container .inf-room .t-room{
    font-family: var(--font-family);
    margin-bottom: 10px;
    margin-left: 5px;
}
/* play */
.list-questions {
    display: flex;
    flex-direction: column;
    background-color: #9A49AA;
    width: 80%;
    min-height: auto;
    font-family: var(--font-family);
}

.countdown-timer {
    width: 100%; /* Chiều rộng 100% để nằm trên cùng */
    height: 40px;
    border: 3px solid white;
    padding: 10px;
}

.question-choose-one {
    margin-top: 10px; /* Khoảng cách giữa countdown-timer và question-choose-one */
}

.list-answers {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột */
    grid-gap: 20px; /* Khoảng cách giữa các ô */
}

.option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}

.option:hover {
    background: #fff;
    border: #9A49AA solid 2px;
    color: #9A49AA;
}

/* input answer */
.inp-answers {
    width: 80%;
    margin: 5px;
    margin-left: 90px;
}

.list-questions .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.list-questions .button .btn-submit {
    background-color: #655DCA;
    padding-right: 10px;
    margin-right: 40px;
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    border: none;
}
.list-questions .button .btn-next {
    padding-right: 10px;
    margin-left: 40px;
    background-color: #655DCA;
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    border: none;
}
.list-questions .button .btn-next:hover {
    background-color: #3166C7;
}
.list-questions .button .btn-submit:hover {
    background-color: #3166C7;
}

.main-container .btn-exit{
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;
    background-color: none;
}
.main-container .btn-exit .exit-button{
    background-color: #0BC2CF;
    border: none;
    font-size: 50px;
    color: white;
}
.main-container .btn-exit .exit-button:hover{
    color: #9A49AA;
}

.main-container .btn-ready{
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 30px;
}
.main-container .btn-ready .ready-button{
    background-color: #FEB31A;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    border: 5px solid #EF7426;
    font-size: 20px;
    font-family: var(--font-family);
    color: white;
}

#inp-igame{
    padding: 0;
    background-color: none;
    border: none;
    text-align: center;
    width: 100px;
    background-color: #9A49AA;
    color: white;
}